form {
  padding: 5px;
  border-radius: 10px;
  background-color: #eee;
}

legend {
  font-weight: 900;
  text-align: center;
}

.expense_form {
  margin: 20px;
}

@media (min-width: 768px) {
  .expense_form {
    margin: auto;
    width: 25%;
  }
}
